
.list-var{
    
    float:left;
    
    
}



.additional_element {
    margin: 5px;
    padding: 5px;
    color: white;
    cursor: pointer;
}

.grid_elements {
    width: 300px;
    float: left;
 
}
.grid_elements table {
    border-collapse: separate;
    width: 200px;
    height: 200px;
}
.actions_block {
    padding: 9px;
    float: right
}

.grid_elements table td {
    background-color: #CFCFCF;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
}

.grid_elements table td.hover {
    background-color: #999;
}

.grid_elements table td:hover {
    cursor: pointer;
}

.layout_block {
    background-color: white;
}

.layout_block .block_name {
    cursor: pointer;
}




.ui-resizable-resizing {
    z-index: 9999999 !important;
}

.layout_name_edit {
    background-color: inherit;
    background: url( '../media/images/icons/edit_input.gif' );
    background-repeat: no-repeat;
    background-position: 0 center;
    padding: 0px;
    margin: 0px;
    padding-left: 14px;
    border: none;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    outline: none;
    width: 90%;
    font-style: italic;
    cursor: text !important;
}
.layouts_grid .remove_element {
    float: right;
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 3px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    margin: 0px 0px 0px 0px;
}
.layouts_grid .layout_block .info {
    color: white;
    font-size: 16px;
    font-family: Helvetica;
    padding: 10px;
}
/*! gridster.js - v0.1.0 - 2012-10-07
* http://gridster.net/
* Copyright (c) 2012 ducksboard; Licensed MIT */

.layouts_grid {
    position:relative !important;
    width: 700px;
    min-height: 300px;
    float: left;
    background: rgb(255,255,255);
    overflow: auto;
    height: 700px;
}

.layouts_grid > * {
    margin: 0 auto;
    -webkit-transition: height .4s;
    -moz-transition: height .4s;
    -o-transition: height .4s;
    -ms-transition: height .4s;
    transition: height .4s;
}

.layouts_grid ul {
    list-style-type: none;
    min-height: 700px;
}
.layout_block.gs_w.ui-resizable{
    position: absolute;
}
/*
.layouts_grid .gs_w{
    z-index: 2;
    position: absolute;
}
*/
.ready .gs_w:not(.preview-holder) {
    -webkit-transition: opacity .3s, left .3s, top .3s;
    -moz-transition: opacity .3s, left .3s, top .3s;
    -o-transition: opacity .3s, left .3s, top .3s;
    transition: opacity .3s, left .3s, top .3s;
}

.ready .gs_w:not(.preview-holder) {
    -webkit-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
    -moz-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
    -o-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
    transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
}

.layouts_grid .preview-holder {
    z-index: 1;
    position: absolute;
    background-color: inherit;
    border: none;
    opacity: 0.3;
}

.layouts_grid .player-revert {
    z-index: 10!important;
    -webkit-transition: left .3s, top .3s!important;
    -moz-transition: left .3s, top .3s!important;
    -o-transition: left .3s, top .3s!important;
    transition:  left .3s, top .3s!important;
}

.layouts_grid .dragging {
    z-index: 10!important;
    -webkit-transition: all 0s !important;
    -moz-transition: all 0s !important;
    -o-transition: all 0s !important;
    transition: all 0s !important;
}

/* Uncomment this if you set helper : "clone" in draggable options */
/*.layouts_grid .player {
  opacity:0;
}*/





textarea{

    width: 500px;

}

body{

     /*background: rgb(248,248,248);*/
       background: white;
    /*   padding-top: 60px; */
    /* 60px to make the container go all the way to the bottom of the topbar */
     /*   font-family: "museo-sans",sans-serif;*/
    font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 500;

}



.gridster .gs_w {
                background: white;
                border-radius: 5px;
                box-shadow: 0px 0px 3px rgb(200,200,200);
                
            }

.charts-container {
    display: table-cell;
    vertical-align: bottom;
}
.chart-child {
    display: inline-block;
    /* act like image */
}
ul {
    list-style-type:none;
}
.card-heading {
    height: 30px;
    padding: 5px;
}
.card-heading a {
    margin: 5px;
    text-align:left;
    text-transform:capitalize;
    text-decoration:none;
    color:black;
    font-weight:bold;
}

.card-heading .card-toggle {
    font-size: 14px;
    width: 100%;
    cursor: hand; cursor: pointer; 
    font-family: "museo-sans",sans-serif;
    font-style: normal;
    font-weight: 500;
    
}
.card-heading .btn-group {
    float: right;
}

.card-body{

padding: 5px;
}
li .card{

padding: 4px;

}

#pasted_data_temp { 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* IE 8+ */
	
	width: 100%;
	
	height: 358px;
}

.dc-chart {
    width: 100%;
}

.dc-chart g.row text {
fill: rgb(0, 0, 0);
font-size: 12px;
}

.card-title {
    
    border-radius: 2px;
    color: white;
    background-color: rgb(170, 170, 170);
    margin-bottom: 4px;
    font-size: 13px;
    line-height: 26px;
    padding-left:15px;
    cursor: pointer;
}

.icon-remove {
    color: white;
}

#variables { list-style-type: none; margin: 0; padding: 0; 
width: 98%;
  }
#variables li { 
  color: #444;
  margin: 0 0px 3px 0px; 
  padding: 0.4em; 
  text-indent: 2px;
  font-size: 13px; 
  height: 18px; 
  border-radius: 2px;
  cursor: pointer;
  z-index: 5;
  font-weight: 500;
  }
  
svg {
    background: rgb(246, 246, 246);
    padding: 2px;
    border-radius: 2px;
}


.reset {
    color: #444;
    margin-left: 5px;
}
.reset:hover {
    color: #444;
}

.ui-state-default.variable.ui-draggable {
    border: 1px solid white;
    background: rgb(246,246,246);
    color: #444;
}
.ui-state-default.variable.ui-draggable:hover {
    border: 1px solid #444;
    background: white;
    color: #444;
}
.span2.list-var {
    overflow: auto;
    height: 640px;    
}
.span10.layouts_grid.ready.ui-droppable {
    margin-left:15px;
}
ul.dropdown-menu {
    min-height:0px;
    position: absolute !important;
}

.btn.btn-primary.dropdown-toggle.measure-selection {
    line-height: 10px;
    font-size: 11px;
    margin-bottom: 4px;
    margin-left: 5px;
}

.container-fluid.main-page {
    margin-top: 7px;
}


a[data-toggle="dropdown"] {
    color: white;
}

.icon-filter.filter-header {
    margin-bottom:-2px;
}


.ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se {
    color: #444;
}
.container.upload {
    margin-top: 7px;
}
.row.call-to-action {
    padding:0px;
    margin:0px;
}


#free-trial-header-menu {
    color: white!important;
    background: #e8762c;
}

#free-trial-header-menu:hover {
    color: white!important;
    background: #da6315;
    text-decoration:  none;
}