        #tabs .ui-widget { border:none;  padding:0px; margin:0px; }
        #tabs .ui-widget-header { border:none; display:none; padding:0px; margin:0px; }
        #tabs .ui-widget-content { border:none; padding:0px; margin:0px; }